<h2> Handling Categorical Data </h2>
<h3> What is Categorical Data?</h3>
<p> The type of data that group information with similar characteristics. Example: Gender</p>

<h3> Why we need to handle categorical data?</h3>
<p> Most of the machine learning algorithm cannot handle categorical variables --> we need to convert into numerical values<br>
    how to convert it? using Encoding </p>

<h3> 1. One Hot Encoding</h3>
<p> Each category is mapped to a vector that contains 1 and 0 denoting the presence or absence of the feature. The number of vectors depends on the number of categories for features. </p>

In [2]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
Requirement already satisfied: pandas>=1.0.5 in c:\users\rizka\anaconda3\envs\py3\lib\site-packages (from category_encoders) (1.2.4)
Requirement already satisfied: numpy>=1.14.0 in c:\users\rizka\anaconda3\envs\py3\lib\site-packages (from category_encoders) (1.19.5)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\rizka\anaconda3\envs\py3\lib\site-packages (from category_encoders) (0.13.5)
Requirement already satisfied: patsy>=0.5.1 in c:\users\rizka\anaconda3\envs\py3\lib\site-packages (from category_encoders) (0.5.3)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\rizka\anaconda3\envs\py3\lib\site-packages (from category_encoders) (0.24.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\rizka\anaconda3\envs\py3\lib\site-packages (from category_encoders) (1.6.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\rizka\anaconda3\envs\py3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\rizka\anaconda3\envs\py3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.1)
Requirement already satisfied: six in c:\users\rizka\anaconda3\envs\py3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\rizka\anaconda3\envs\py3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\rizka\anaconda3\envs\py3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: packaging>=21.3 in c:\users\rizka\anaconda3\envs\py3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (23.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.6.0

In [11]:
import pandas as pd
import sklearn
from sklearn.preprocessing import OneHotEncoder

In [12]:
data = pd.DataFrame({ 'gender' : ['Male', 'Female', 'Male', 'Female', 'Female'],
                       'class' : ['A','B','C','D','A'],
                        'city' : ['Delhi','Gurugram','Delhi','Delhi','Gurugram'] })
data.head()

   gender class      city
0    Male     A     Delhi
1  Female     B  Gurugram
2    Male     C     Delhi
3  Female     D     Delhi
4  Female     A  Gurugram

In [13]:
# get the list of categorical variable
s = (data.dtypes == 'object')
cols = list(s[s].index)

ohe = OneHotEncoder(handle_unknown='ignore',sparse=False)

In [14]:
data_cols = pd.DataFrame(ohe.fit_transform(data[cols]))

data_cols

     0    1    2    3    4    5    6    7
0  0.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0
1  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0
2  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0
3  1.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
4  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0

<h3> 2. Label encoding</h3>
<p> Each category is assigned a value from 1 through N where N is the number of categories for the feature. There is no relation or order between these assignments. </p>

In [19]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data_le = data
data_le['class']= le.fit_transform(data[["class"]])
data_le

   gender  class      city
0    Male      0     Delhi
1  Female      1  Gurugram
2    Male      2     Delhi
3  Female      3     Delhi
4  Female      0  Gurugram

In [ ]:
# Discuss with your friend
# Is there any other encoding approach?
# when to use each approach?